<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quote_Number %>
    <%= form.text_field :quote_Number %>
  </div>

  <div class="field">
    <%= form.label :sales_Person_Id %>
    <%= form.text_field :sales_Person_Id %>
  </div>

  <div class="field">
    <%= form.label :sales_Person_Name %>
    <%= form.text_field :sales_Person_Name %>
  </div>

  <div class="field">
    <%= form.label :customer_First_Name %>
    <%= form.text_field :customer_First_Name %>
  </div>

  <div class="field">
    <%= form.label :customer_First_Name %>
    <%= form.text_field :customer_First_Name %>
  </div>

  <div class="field">
    <%= form.label :customer_Last_Name %>
    <%= form.text_field :customer_Last_Name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
