<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Quote number</th>
      <th>Sales person id</th>
      <th>Sales person name</th>
      <th>Customer first name</th>
      <th>Customer first name</th>
      <th>Customer last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.quote_Number %></td>
        <td><%= quote.sales_Person_Id %></td>
        <td><%= quote.sales_Person_Name %></td>
        <td><%= quote.customer_First_Name %></td>
        <td><%= quote.customer_First_Name %></td>
        <td><%= quote.customer_Last_Name %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
