<p id="notice"><%= notice %></p>

<p>
  <strong>Quote number:</strong>
  <%= @quote.quote_Number %>
</p>

<p>
  <strong>Sales person id:</strong>
  <%= @quote.sales_Person_Id %>
</p>

<p>
  <strong>Sales person name:</strong>
  <%= @quote.sales_Person_Name %>
</p>

<p>
  <strong>Customer first name:</strong>
  <%= @quote.customer_First_Name %>
</p>

<p>
  <strong>Customer first name:</strong>
  <%= @quote.customer_First_Name %>
</p>

<p>
  <strong>Customer last name:</strong>
  <%= @quote.customer_Last_Name %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
