<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Password</th>
      <th>Job title</th>
      <th>Executive privilege</th>
      <th>Underlying id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_Name %></td>
        <td><%= employee.last_Name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.username %></td>
        <td><%= employee.password %></td>
        <td><%= employee.job_Title %></td>
        <td><%= employee.executive_Privilege %></td>
        <td><%= employee.underlying_ID %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
