<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_Name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @employee.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @employee.password %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @employee.job_Title %>
</p>

<p>
  <strong>Executive privilege:</strong>
  <%= @employee.executive_Privilege %>
</p>

<p>
  <strong>Underlying id:</strong>
  <%= @employee.underlying_ID %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
