<%= form_with(model: manager, local: true) do |form| %>
  <% if manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_Name %>
    <%= form.text_field :first_Name %>
  </div>

  <div class="field">
    <%= form.label :last_Name %>
    <%= form.text_field :last_Name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :job_Title %>
    <%= form.text_field :job_Title %>
  </div>

  <div class="field">
    <%= form.label :executive_Id %>
    <%= form.text_field :executive_Id %>
  </div>

  <div class="field">
    <%= form.label :underlying_Id %>
    <%= form.text_field :underlying_Id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
