<p id="notice"><%= notice %></p>

<h1>Managers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Password</th>
      <th>Job title</th>
      <th>Executive id</th>
      <th>Underlying id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.first_Name %></td>
        <td><%= manager.last_Name %></td>
        <td><%= manager.email %></td>
        <td><%= manager.username %></td>
        <td><%= manager.password %></td>
        <td><%= manager.job_Title %></td>
        <td><%= manager.executive_Id %></td>
        <td><%= manager.underlying_Id %></td>
        <td><%= link_to 'Show', manager %></td>
        <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
        <td><%= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manager', new_manager_path %>
