<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @manager.first_Name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @manager.last_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @manager.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @manager.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @manager.password %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @manager.job_Title %>
</p>

<p>
  <strong>Executive id:</strong>
  <%= @manager.executive_Id %>
</p>

<p>
  <strong>Underlying id:</strong>
  <%= @manager.underlying_Id %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
